ul#FavoritesList{
    margin-left: 4.6%;
}
ul#FavoritesList>li{
    margin-top: 1%;
    margin-bottom: 3%;
}
div.favoritePic{
    width: 94%;
    height: 100%;
    border-radius: 0.7rem;
    border: lightgrey 0.1rem solid;
}
div.favoritePic>figure>figcaption,div.favoritePic>figure>a>img{
    display: inline-block;
    vertical-align: top;
}
div.favoritePic>figure{
    padding: 2%;
}
figure img{
    width: auto;
    max-width: 100%;
}
figure figcaption{
    width: 60%;
    margin-left: 3%;
    height: 100%;
}
figcaption div.favorPicTopic{
    font-size: 2.1rem;
    color: #13227a;
    font-weight: bold;
    margin-bottom: 2%;
}
figcaption div.description{
    width: 120%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-indent: 2rem;
    font-size: 1.2rem;
}
input[type="button"]{
    color: whitesmoke;
    background-color: #d4237a;
    width: 17%;
    height: 42px;
    border-radius: 0.6rem;
    font-size: 1.8vw;
    margin-left: 75%;
    margin-top: -10%;
    margin-bottom: -5%;
}
input[type="button"]:hover{
    background-color: #f0248d;
    font-size: 2vw;
}
